/target/
/cache/
/libraries/
/versions/
/logs/
/worrld/
/world_nether/
/world_the_end/

eula.txt

paper.jar
paper.jar.bak
plugins/skript.jar
plugins/skript.jar.bak

.console_history
banned-ips.json
banned-players.json
ops.json
usercache.json
version_history.json
whitelist.json

/plugins/
/plugins/.paper-remapped/
/plugins/spark/

/plugins/Skript/lang/
*.csv
/plugins/Skript/scripts/-examples/
/plugins/Skript/scripts/-examples/--*